#calendly{
    padding: .5rem 0;
    background-color: rgb(251,252,253);
  }
  
  
  #calendly>.container>.calendly-inline-widget{
    position: relative;
    min-width: 320px;
    height: 650px;
  }
  
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }